---
/// NOTE: DEFAULT FILE PATHS ARE CONFIGURED FOR .astro PAGES STORED AT /SRC ROOT.  PAGES NESTED WITHIN ROOT WILL NEED THEIR FILE PATHS UPDATED!

//    CSS/STYLE IMPORTS
import "../styles/all.scss";

//    ASTRO COMPONENT IMPORTS
import HeadMinimum from "../components/HeadMinimum.astro";
import HeadStatic from "../components/HeadStatic.astro";
import Footer from "../components/Footer.astro";
import Loader from "../components/Loader.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS
import Chat from "../components/Chat.astro";
import Countdown from "../components/Countdown.astro";
import Ghosts from "../components/Ghosts.astro";
import NowPlaying from "../components/NowPlaying.astro";
import Requests from "../components/Requests.astro";
import Solobot from "../components/Solobot.astro";
import Stream from "../components/Stream.astro";
import Submissions from "../components/Submissions.astro";
import WPRBXmas from "../components/WPRBXmas.astro";
import Welcome from "../components/Welcome.astro";
import WhatsNew from "../components/WhatsNew.astro";
import Lights from "../components/Lights.astro";

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// Changing <header> Variables
/// **Note**: Static header variables are stored in HeadStatic.astro.

let pageURL = "https://marathon.christmas";
let title = "MARATHON CHRISTMAS";

/// **Note**: pageDescription is limited to 150 characters!
/// Character counter can be found here: https://wordcounter.net/character-count

let pageDescription =
  "A fansite dedicated to the inimitable Jon Solomon & his annual 25-hour hour #WPRBXmas marathon.";
let pageKeywords =
  "Jon Solomon, WPRB, WPRBXmas, #WPRBXmas, Jon Solomon's Annual 25-Hour Holiday Radio Show, Christmas, Christmas music, indie Christmas music, non-mainstream music, non-commerical music, music marathon, college radio, community radio, independent radio, New Jersey, Princeton, New Jersey holiday traditions, Princeton holiday traditions";

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <HeadMinimum />
    <title>{title}</title>
    <meta name="description" content={pageDescription} />
    <meta name="keywords" content={pageKeywords} />
    <!-- Facebook Open Graph: Page-Specific Meta Tags -->
    <meta property="og:url" content={pageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <HeadStatic />
  </head>
  <Loader />
  <body>
    <Lights />
    <main id="main">
      <h1 class="site_name">
        Marathon <span class="clean_wrap">Christmas</span>
      </h1>
      <Countdown />
      <Welcome />
      <WhatsNew />
      <NowPlaying />
      <Requests />
      <Stream />
      <Chat />
      <Ghosts />
      <Submissions />
    </main>
    <a href="404.html"></a>
    <Footer />
    <!-- MXmas Scripts -->
    <script src="../js/loader.js"></script>
    <script src="../js/countdown.js"></script>
    <script src="../js/section_card.js"></script>
    <script src="../js/lights.js"></script>
    <script src="../js/requests.js"></script>
  </body>

  <!-- Third Party Scripts -->
  <script async src="https://spinitron.com/static/js/widget.js"></script>
  <script async src="https://unpkg.com/mailgo@0.10.4/dist/mailgo.min.js"
  ></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
  ></script>
  <script
    src="https://plugins.flockler.com/embed/18537e0963d03b108ba2f78415d221a6/18537e3c97108353c5ceb8b844712c40"
    async
  ></script>
</html>
